body {
    font-family: 'Montserrat';
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
    font-weight: 700;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section {
    background-color: #1F9BA5;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Title Section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
    width: 80%;
    transform: rotate(15deg);
    position: absolute;
    right: 10%;
    bottom: 20%;
    z-index: 1;
}

/* Features Section */

#features {
    padding: 7% 6%;
    position: relative;
    z-index: 2;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 5%;
}

p {
    color: #8f8f8f;
}

/* Headings */
.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.icon {
    color: #FABE4F;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #1F9BA5;
}

/* Testimonial Section */

#testimonials {
    background-color: #FABE4F;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


.carousel-item {
    padding: 7% 10%;
}

/* Press Section */

#press {
    background-color: #FABE4F;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {

    #title .container-fluid {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}

#cta {
    font-weight: 900;
}

.footer-icon {
    margin: 10px;
    color: black;
}